<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>春城晚报-吃堂</title>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=rhryxItbqLwG0BH1OYXs1YOURl0ZDqG2"></script>
</head>
<body>

<div id="app"></div>

<!-- 引入组件库 -->
<script src='/static/tinymce/tinymce.min.js'></script>
<script src='/static/tinymce/langs/zh_CN.js'></script>
<script src="/static/admin/js/manifest.js"></script>
<script src="/static/admin/js/vendor.js"></script>
<script src="/static/admin/js/main.js"></script>
</body>
</html>